body{
    background-color: black;
}
.section_1 a{
    text-decoration: none;
    color: white;
}
.learn a{
text-decoration:none;
color: white;
font-size: 16px;
}
.sec-pro a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
#service a{
    text-decoration: none;
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container form{
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: rgba(255, 255, 255, 0.024);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

}
.input-group label{
    flex-basis: 50%;
    color: white;
    font-size: 13px;
}
.input-group input, .input-group textarea{
    flex-basis: 100%;
    background: transparent;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid rgba(243, 231, 12, 0.263);
    margin-bottom: 10px;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}
form button{
    border-radius: 5px;
    border: none;
    padding: 10px 60px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}
.input-group span{
    position: absolute;
    top: 20px;
    left:10px;
    color: rgb(255, 242, 0);
    font-size: 10px;

}
a.fa{
    font-size: 20px;
    
}

a{
    margin-top: 20px;
    margin-bottom: 20px;

}

section.footer a{
    padding:50px;
}




/* border */


#page3{
    border-bottom: 8px solid #222;
    border-top: 8px solid #222;
}

#page4{
    border-bottom: 8px solid #222;
    
}



/* contact */
#skill{
border-top: 8px solid #222;
margin-bottom: 70px;
}

#page6 a{
    text-decoration: none;
    color: #fff
}

#page6{
    padding-bottom: 100px;
    border-bottom: 8px solid #222;
}

footer a{
    text-decoration:none;
    color: #fff;
    padding-right: 20px;
}
footer{
    margin-bottom: 100px;
}

#navbar a{
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
}
#navbar ul li{
    list-style: none;
}