<%- include('header') -%>

<div class="text-center center-div center-div-1 mt-5" id="login">
    <div class="container w-50 border py-5 mt-5">
        <h2 class="my-h2 p-5" style="font-size:70px;">Welcome To EDIFIC</h2>
        <h6 class="pt-5 pb-2">Click the Sign in Button</h6>
        <a class="" href="/login">Sign In</a>
    </div>
</div>

<%- include('footer') -%>