
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>





<div class="text-center center-div" id="login">
    <div class="container w-50 border py-5">
        <div class="title pb-5">
            <h2>Admin</h2>

             <h5 class="bg-success text-white mt-3" >{{invalid}}</h5>
        </div>
        <a href="/admin_user_signup" class="btn btn-success" >Create new user</a>

        <a href="/admin_user_view" class="btn btn-success" >view all user</a>
        


        <a href="/alogout" class="btn btn-warning" >Sign out</a>

        
        
    </div>
</div>

