<div class="text-center center-div" id="login">
    <div class="container w-50 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Welcome</h2>
        </div>
        <a href="/login" class="btn btn-warning" >Sign In</a>
        <span>or</span>
        <a href="/signup" class="btn btn-warning" >create a new account</a>
    </div>
</div>

