<div class="text-center center-div" id="login">
    <div class="container w-50 border py-5">
        <div class="title pb-5">
            {{#if user}}
            <h2>Welcome {{user.name}}</h2>
            {{/if}}
        </div>
        <a href="/logout" class="btn btn-warning" >Sign out</a>
        
        
    </div>
</div>

