
<section class="container text-center mt-5">
    <h1 class="text-light" style="font-weight:800;font-style:italic;">Hii {{user.name}}</h1>
    <span class="text-light" style="font-weight:600;font-size:16px;font-style:italic;">You can see your orders , cart and details here </span>
</section>


<section class="mt-5">
    <div class="container d-flex justify-content-center align-items-center">
        <button class="p-2 w-25 btn text-light mx-5" id="addcategory"><a href="/order-list" class="text-light" style="text-decoration:none;">MY ORDERS</a></button>
        <button class="p-2 w-25 btn text-light mx-5" id="addcategory"><a href="/view-cart" class="text-light" style="text-decoration:none;">MY CART</a></button>
        <button class="p-2 w-25 btn text-light mx-5" id="addcategory">MY WISH LISTS</button>
        <button class="p-2 w-25 btn text-light mx-5" id="addcategory">MY DETAILS</button>
        
    </div>
</section>

